

services:
  
  mongo:
    image: mongo:7
    container_name: mongodb_container
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  flask:
    build: .
    container_name: flask_container
    restart: always
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/
    depends_on:
      - mongo
    networks:
      - app-network
volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge